<style>
    .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
</style>
<div class="card">
<div class="card_emoji">{%IMAGE%} {%IMAGE%}</div>
<div class="card_title-box">
    <h2 class="card_title">{%PRODUCTNAME%}</h2>
</div>
<div class="card_details">
    <div class="card_detail-box {%NOT_ORGANIC%}">
        <h6 class="card_detail"> Organic!</h6>
    </div>
</div>
<div class="card_details">
    <div class="card_detail-box">
        <h6 class="card_detail"> {%QUANTITY%} per</h6>
    </div>
</div>
<div class="card_details">
    <div class="card_detail-box">
        <h6 class="card_detail">{%PRICE%}</h6>
    </div>
</div>
<a href="/product?id={%ID%}" class="card_link">
    <span>Detail</span>
</a>


</div>